<%= javascript_tag do %>
  window.tracks = <%=raw Track.all.to_json %>
<% end %>

<div id="map-canvas"></div>

<div id='footer'>
  <form id='geocoder'>
    <input id='geocode_bar' id='address' type='textbox' name='location' value='351 W. Hubbard Chicago, IL'>
    <input type='submit' value='Find Location'>
  </form>

  <span id='song'>
    <audio controls></audio>
  </span>
</div>
