body{
  height: 100%;
  margin:0;
  padding: 0;
}

html {
  height: 100%;
}

h1 {
  text-align: center;
  margin: 0;
}

#login {
  text-align: right;
  padding-right: 20px;
  padding-top:20px;
}

#signup {
  display:inline;
  padding: 0 15px;
  text-decoration: none;
}

nav {
  z-index: 100;
  position: fixed;
  right: 0;
  left: 0;
}

.nav-links li {
  display:inline;
  padding: 0 15px;
  text-decoration: none;
  list-style-type: none;
}

.nav-links a {
  color: white;
  font-size: 26px;
  text-decoration: none;
}

#signin, #signup, #logout, #profile_link{
  float: right;
  padding-right: 30px;
  padding-left: 30px;
  font-family: 'Averia Libre', cursive;
  margin-top: 16px;
}


.nav-links ul {
  background-color: #33CC33;
  height:70px;
  margin: 0;
  padding-left: 0;
  list-style:none;
}

a:hover {
  color:#0066FF;
}

#log {
  text-align: right;
  margin: 0;
}

#log p {
display: inline;
}

#log form {
  color: #FFFFFF;
  float: right;
  font-family: 'Averia Libre',cursive;
  margin: 0;
  padding-top: 20px;
  width: 40%;
}

#logo{
  font-size: 50px;
  font-family: 'Kavoon', cursive;
}

#map-canvas {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed !important;
}

#geocode_bar {
  width: 200px;
}

/* FORMS */
#new_user {
  margin: 0 auto;
  text-align: center;
}

/* MODALS */

#overlay {
  z-index: 39;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.7);
}

#login_modal, #signup_modal, #audio_modal {
  z-index: 40;
  position: fixed;
  top: 50%;
  left: 50%;
  background: #fff;
  padding: 30px 100px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* FOOTER */

#song {
  float: left;
  text-align: center;
  width: 40%;
}
#footer {
  z-index: 10;
  position: absolute;
  height: 40px;
  bottom: 0;
  width: 100%;
}
#footer > form {
  float: left;
  width: 30%;
  margin-left: 10px;
}

