body{
  margin:0;
}

h1 {
  text-align: center;
  margin: 0;
}

#login {
  text-align: right;
  padding-right: 20px;
  padding-top:20px;
}

#signup {
  display:inline;
  padding: 0 15px;
  text-decoration: none;
}

.nav-links li {
  display:inline;
  padding: 0 15px;
  text-decoration: none;
  list-style-type: none;
}

.nav-links a {
  color: white;
  font-size: 26px;
  text-decoration: none;
}

#sign, #logout, #profile_link{
  float: right;
  padding-right: 30px;
  padding-left: 30px;
  font-family: 'Averia Libre', cursive;
  margin-top: 25px;
}


.nav-links ul {
  background-color: #33CC33;
  height:70px;
  margin: 0;
  padding-left: 0;
  padding-top:20px;
  list-style:none;
}

a:hover {
  color:#0066FF;
}

#song {
  text-align: center;
  padding-top: 500px;
}

#log {
  text-align: right;
  margin: 0;
}

#log p {
display: inline;
}

#log form{
   width: 40%;
   float: right;
   margin: 0;
   color:white;
   font-family: 'Averia Libre', cursive;

}

#logo{
  font-size: 50px;
  font-family: 'Kavoon', cursive;

}


























